.blog {
  margin:5%;
  min-height: 90%;
  width: 90%;
  font-family: 'Open Sans', sans-serif;
}

.blog_container {
  //min-height: 100%;
  width: 100%;
}

.article_preview {
  margin-top:2em;
  margin-bottom:2em;
}

.article_date {
//  float: left; 
  white-space:nowrap;
}

.article_title {
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 32px;
  color: red;
}

//Center images from Markdown
.article_body img {
    display:block;
    margin:auto;
}

.blog footer {
  margin-top: 5%;
  margin-bottom: 2%;
  //min-width: 50%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}

/*
 * GitHub CSS ribbon (http://unindented.org/articles/2009/10/github-ribbon-using-css-transforms/)
 */

#ribbon {
  background-color: #a00;
  overflow: hidden;
  /* top left corner */
  width: 30em;
  position: relative;
  left: -10.5em;
  top: 3.5em;
  margin-bottom: 0.5em;
  z-index: 100;
  /* 45 deg ccw rotation */
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
  -webkit-backface-visibility: hidden;
}
#ribbon a {
  border: 2px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.8em #444;
}

