.blog {
  margin:5%;
  min-height: 90%;
  width: 90%;
  font-family: 'Open Sans', sans-serif;
}

.blog_container {
  //min-height: 100%;
  width: 100%;
}

.article_preview {
  margin-top:2em;
  margin-bottom:2em;
}

.article_date {
//  float: left; 
  white-space:nowrap;
}

.article_title {
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 32px;
  color: red;
}

//Center images from Markdown
.article_body img {
    display:block;
    margin:auto;
}

.blog footer {
  margin-top: 5%;
  margin-bottom: 2%;
  //min-width: 50%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}
